---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import logo from "@/assets/logo-ppiaachen.png";
import { links as navLinks, hasChildren } from "@/lib/nav-links";
import { links as socLinks } from "@/lib/social-links";
---

<footer class="mt-10">
  <div class="container mx-auto px-6 py-8">
    <div class="flex flex-col items-center text-center">
      <Image
        class="h-12 w-auto"
        loading="lazy"
        width={100}
        height={100}
        src={logo}
        alt="Logo PPI Aachen."
      />
      <div class="-mx-4 mt-6 flex flex-wrap justify-center">
        {
          navLinks.map((link) =>
            !hasChildren(link) ? (
              <a
                href={link.href}
                class="mx-4 text-sm text-gray-600 transition-colors duration-300 hover:text-blue-500"
                aria-label="Reddit"
              >
                {link.text}
              </a>
            ) : null
          )
        }
      </div>
    </div>
    <hr class="my-6 border-gray-200 md:my-10" />
    <div class="flex flex-col items-center sm:flex-row sm:justify-between">
      <p class="text-sm text-gray-500">
        © Copyright 2024. All Rights Reserved.
      </p>
      <div class="-mx-2 mt-8 flex sm:mt-0">
        {
          socLinks.map((link) => (
            <a
              href={link.url}
              class="mx-2 text-gray-500 transition-colors duration-300 hover:text-blue-500"
              aria-label="Instagram"
            >
              <Icon name={link.iconName} class="size-5" aria-hidden="true" />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</footer>
