---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import MobileMenu from "./MobileMenu.astro";
import logo from "@/assets/logo-ppiaachen.png";
import { links, hasChildren, type NavLinkGroup } from "@/lib/nav-links";
import createSlug from "@/lib/create-slug";

const { pathname } = Astro.url;
const isActive = (href: string) => {
  const subpath = pathname.match(/[^\/]+/g);
  return href === pathname || href === "/" + subpath?.[0];
};

const dropdownId = (link: NavLinkGroup) =>
  "h-dropdown-" + createSlug(link.text);
const dropdownTriggerId = (link: NavLinkGroup) => "show-" + dropdownId(link);
---

<header>
  <nav
    class="mx-auto flex max-w-screen-xl flex-row items-center justify-between px-10 py-2"
  >
    <a href="/" aria-label="PPI Aachen homepage">
      <Image
        class="h-20 w-auto"
        loading="eager"
        width={150}
        height={150}
        src={logo}
        alt="Logo PPI Aachen."
      />
    </a>

    <MobileMenu />

    <ul class="hidden lg:flex lg:flex-wrap lg:items-center">
      {
        links.map((link) =>
          hasChildren(link) ? (
            <li>
              <button
                id={dropdownTriggerId(link)}
                class="mx-2 flex items-center gap-1 text-sm tracking-widest text-accent transition-colors duration-300 hover:text-accent/60 md:mx-4 md:text-base"
                data-dropdown-toggle={dropdownId(link)}
              >
                {link.text}
                <Icon name="ph:caret-down" class="size-4" aria-hidden="true" />
              </button>
              <div
                id={dropdownId(link)}
                class="z-10 hidden w-44 divide-y divide-gray-100 rounded-lg bg-white font-normal shadow"
              >
                <ul
                  class="text-gray py-2 text-sm"
                  aria-labelledby={dropdownTriggerId(link)}
                >
                  {link.children.map((child) => (
                    <li>
                      <a
                        href={child.href}
                        class="mx-2 block px-4 py-2 text-sm tracking-widest text-accent transition-colors duration-300 hover:text-accent/60 md:mx-4 md:text-base"
                      >
                        {child.text}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            </li>
          ) : (
            <li
              class:list={[
                "mx-2 text-sm tracking-widest text-accent transition-colors duration-300 hover:text-accent/60 md:mx-4 md:text-base",
                isActive(link.href) ? "border-b-2 border-b-blue-700" : "",
              ]}
            >
              <a href={link.href}>{link.text}</a>
            </li>
          )
        )
      }
    </ul>
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", async () => {
    const { initDropdowns } = await import(
      "flowbite/lib/esm/components/dropdown"
    );
    initDropdowns();
  });
</script>
