---
import { Image } from "astro:assets";
import logo from "../assets/logo-ppiaachen.png";
import { links, hasChildren } from "@/lib/nav-links";

const { pathname } = Astro.url;
const isActive = (href: string) => {
  const subpath = pathname.match(/[^\/]+/g);
  return href === pathname || href === '/' + subpath?.[0];
}
---

<header>
  <nav class="mx-auto flex max-w-7xl items-center justify-between px-10 py-2">
    <div>
      <Image
        loading="eager"
        width={70}
        height={70}
        src={logo}
        alt="Logo PPI Aachen."
      />
    </div>
    <ul class="flex flex-row items-center">
      {
        links.map((link) =>
          hasChildren(link) ? (
            <div class="dropdown dropdown-hover">
              <div
                tabindex="0"
                role="button"
                class="mx-4 flex items-center gap-2 tracking-widest text-accent hover:text-accent/60 transition-colors duration-300"
              >
                {link.text}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m6 9l6 6l6-6"
                  />
                </svg>
              </div>
              <ul class="dropdown-content menu z-[1] w-44 pt-1 transition duration-300">
                {link.children.map((child) => (
                  <li class="mx-4 mt-2 text-base tracking-widest text-accent hover:text-accent/60 transition-colors duration-300">
                    <a href={child.href}>{child.text}</a>
                  </li>
                ))}
              </ul>
            </div>
          ) : (
            <li
              class:list={[
                "mx-4 tracking-widest text-accent hover:text-accent/60 transition-colors duration-300",
                isActive(link.href)
                  ? "border-b-2 border-b-blue-700"
                  : "",
              ]}
            >
              <a href={link.href}>{link.text}</a>
            </li>
          ),
        )
      }
    </ul>
  </nav>
</header>
