---
import { Image } from "astro:assets";
import MobileMenu from "./MobileMenu.astro";
import logo from "../assets/logo-ppiaachen.png";
import { links, hasChildren } from "@/lib/nav-links";
import createSlug from "@/lib/create-slug";

const { pathname } = Astro.url;
const isActive = (href: string) => {
  const subpath = pathname.match(/[^\/]+/g);
  return href === pathname || href === "/" + subpath?.[0];
};
---

<header>
  <nav
    class="mx-auto flex max-w-screen-xl flex-row items-center justify-between px-10 py-2"
  >
    <Image
      loading="eager"
      width={70}
      height={70}
      src={logo}
      alt="Logo PPI Aachen."
    />

    <MobileMenu />

    <ul class="hidden lg:flex lg:flex-wrap lg:items-center">
      {
        links.map((link) =>
          hasChildren(link) ? (
            <li>
              <button
                id={`show-h-dropdown-${createSlug(link.text)}`}
                class="mx-2 flex items-center text-sm tracking-widest text-accent transition-colors duration-300 hover:text-accent/60 md:mx-4 md:text-base"
              >
                {link.text}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m6 9l6 6l6-6"
                  />
                </svg>
              </button>
              <div
                id={`h-dropdown-${createSlug(link.text)}`}
                class="z-10 hidden w-44 divide-y divide-gray-100 rounded-lg bg-white font-normal shadow"
              >
                <ul
                  class="text-gray py-2 text-sm"
                  aria-labelledby="dropdown-lists"
                >
                  {link.children.map((child) => (
                    <li>
                      <a
                        href={child.href}
                        class="mx-2 block px-4 py-2 text-sm tracking-widest text-accent transition-colors duration-300 hover:text-accent/60 md:mx-4 md:text-base"
                      >
                        {child.text}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            </li>
          ) : (
            <li
              class:list={[
                "mx-2 text-sm tracking-widest text-accent transition-colors duration-300 hover:text-accent/60 md:mx-4 md:text-base",
                isActive(link.href) ? "border-b-2 border-b-blue-700" : "",
              ]}
            >
              <a href={link.href}>{link.text}</a>
            </li>
          )
        )
      }
    </ul>
  </nav>
</header>

<script>
  import { Dropdown } from "flowbite";
  document.addEventListener("astro:page-load", () => {
    const $triggerEls = document.querySelectorAll('[id^="show-h-dropdown-"]');

    $triggerEls.forEach(($triggerEl) => {
      const targetId = $triggerEl.id.replace("show-", "");
      if (!targetId) return;
      const $targetEl = document.getElementById(targetId);
      const instanceOptions = {
        id: targetId,
        override: true,
      };

      new Dropdown(
        $targetEl,
        $triggerEl as HTMLElement,
        undefined,
        instanceOptions
      );
    });
  });
</script>
