---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import MobileMenu from "./MobileMenu.astro";
import logo from "@/assets/logo-ppiaachen.png";
import { links, hasChildren, type NavLinkGroup } from "@/data/nav-links";
import createSlug from "@/lib/create-slug";

const { pathname } = Astro.url;
const isActive = (href: string) => {
  const subpath = pathname.match(/[^\/]+/g);
  return href === pathname || href === "/" + subpath?.[0];
};

const dropdownId = (link: NavLinkGroup) =>
  "nav-dropdown-" + createSlug(link.text);
---

<header>
  <nav
    class="mx-auto flex max-w-screen-xl flex-row items-center justify-between px-10 py-2"
  >
    <a href="/" aria-label="PPI Aachen homepage">
      <Image
        class="h-20 w-auto"
        loading="eager"
        src={logo}
        width={150}
        alt="Logo PPI Aachen."
      />
    </a>

    <MobileMenu />

    <ul class="hidden lg:flex lg:flex-wrap lg:items-center">
      {
        links.map((link) =>
          hasChildren(link) ? (
            <li>
              <div class="hs-dropdown [--adaptive:none] [--strategy:static] sm:[--strategy:fixed]">
                <button
                  id={dropdownId(link)}
                  type="button"
                  class="hs-dropdown-toggle group mx-2 flex items-center gap-1 md:mx-4"
                  aria-haspopup="menu"
                  aria-expanded="false"
                  aria-label="Dropdown Menu"
                >
                  <span class="relative text-sm tracking-widest text-accent transition-colors duration-300 group-hover:text-accent/80 group-hover:before:absolute group-hover:before:bottom-0.5 group-hover:before:start-0 group-hover:before:-z-[1] group-hover:before:h-1 group-hover:before:w-full group-hover:before:bg-sky-400 md:text-base">
                    {link.text}
                  </span>
                  <Icon
                    name="ph:caret-down"
                    class="ms-1 size-4 shrink-0 duration-300 hs-dropdown-open:-rotate-180"
                    aria-hidden="true"
                  />
                </button>
                <div
                  class="hs-dropdown-menu sm: top-full z-10 hidden space-y-1 rounded-lg bg-white p-1 opacity-0 transition-[opacity,margin] duration-[150ms] ease-in-out before:absolute before:-top-5 before:start-0 before:h-5 before:w-full hs-dropdown-open:opacity-100 sm:w-48 sm:border sm:shadow-md"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby={dropdownId(link)}
                >
                  {link.children.map((child) => (
                    <a
                      class="flex items-center gap-x-3.5 rounded-lg px-3 py-2 text-sm tracking-widest text-accent transition-colors duration-300 hover:text-accent/60 md:text-base"
                      href={child.href}
                    >
                      {child.text}
                    </a>
                  ))}
                </div>
              </div>
            </li>
          ) : (
            <li
              class:list={[
                "relative mx-2 text-sm tracking-widest text-accent transition-colors duration-300 hover:text-accent/80 hover:before:absolute hover:before:bottom-0.5 hover:before:start-0 hover:before:-z-[1] hover:before:h-1 hover:before:w-full hover:before:bg-blue-300 md:mx-4 md:text-base",
                {
                  "before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:h-1 before:w-full before:bg-blue-300":
                    isActive(link.href),
                },
              ]}
            >
              <a href={link.href}>{link.text}</a>
            </li>
          )
        )
      }
    </ul>
  </nav>
</header>
