---
import { Icon } from "astro-icon/components";
import { links, hasChildren, type NavLinkGroup } from "@/data/nav-links";
import createSlug from "@/lib/create-slug";

const collapseId = (link: NavLinkGroup) =>
  "s-collapse-" + createSlug(link.text);
const collapseTriggerId = (link: NavLinkGroup) => "show-" + collapseId(link);
const mobileMenuId = "mobile-menu";
---

<button
  type="button"
  class="rounded-lg px-5 py-2.5 text-center text-sm font-medium text-zinc-600 focus:outline-none focus:ring-4 focus:ring-blue-300 lg:hidden"
  aria-label="Open navigation menu"
  aria-haspopup="dialog"
  aria-expanded="false"
  aria-controls={mobileMenuId}
  data-hs-overlay={"#" + mobileMenuId}
>
  <Icon name="ph:list" class="size-8" aria-hidden="true" />
</button>

<div
  id={mobileMenuId}
  class="hs-overlay fixed end-0 top-0 z-[80] hidden h-full w-full max-w-xs translate-x-full transform border-s bg-white transition-all duration-300 hs-overlay-open:translate-x-0"
  role="dialog"
  tabindex="-1"
  aria-labelledby={mobileMenuId + "-label"}
>
  <div class="flex items-center justify-between border-b px-4 py-3">
    <h3 id={mobileMenuId + "-label"} class="font-bold text-gray-800">Menu</h3>
    <button
      type="button"
      class="inline-flex size-8 items-center justify-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none disabled:pointer-events-none disabled:opacity-50"
      aria-label="Close"
      data-hs-overlay={"#" + mobileMenuId}
    >
      <span class="sr-only">Close</span>
      <Icon name="ph:x" class="size-4 shrink-0" aria-hidden="true" />
    </button>
  </div>
  <div class="overflow-y-auto p-4">
    <ul class="space-y-2 font-medium">
      {
        links.map((link) =>
          hasChildren(link) ? (
            <li>
              <button
                id={collapseTriggerId(link)}
                type="button"
                aria-expanded="false"
                aria-controls={"#" + collapseId(link)}
                data-hs-collapse={"#" + collapseId(link)}
                class="hs-collapse-toggle group flex w-full items-center rounded-lg p-2 text-base text-gray-900 transition duration-75 hover:bg-gray-100"
              >
                <span class="ms-3 flex-1 whitespace-nowrap text-left">
                  {link.text}
                </span>
                <Icon
                  name="ph:caret-down"
                  class="size-4 duration-300 hs-collapse-open:-rotate-180"
                  aria-hidden="true"
                />
              </button>
              <ul
                id={collapseId(link)}
                class="hs-collapse hidden w-full space-y-2 overflow-hidden py-2 transition-[height] duration-300"
                aria-labelledby={collapseTriggerId(link)}
              >
                {link.children.map((child) => (
                  <li>
                    <a
                      href={child.href}
                      class="group flex w-full items-center rounded-lg p-2 pl-11 text-gray-900 transition duration-75 hover:bg-gray-100"
                    >
                      {child.text}
                    </a>
                  </li>
                ))}
              </ul>
            </li>
          ) : (
            <li>
              <a
                href={link.href}
                class="group flex items-center rounded-lg p-2 text-gray-900 hover:bg-gray-100"
              >
                <span class="ms-3">{link.text}</span>
              </a>
            </li>
          )
        )
      }
    </ul>
  </div>
</div>
