---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import FormattedDate from "@/components/FormattedDate.astro";

type Props = CollectionEntry<"event">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="mx-auto min-h-[80vh] max-w-7xl">
      <article>
        <div class="m-auto w-1/3">
          {
            heroImage && (
              <Image
                class="rounded-lg"
                loading="eager"
                width={1020}
                height={510}
                src={heroImage}
                alt=""
              />
            )
          }
        </div>
        <div class="mx-4 mt-10 w-3/4 md:mx-auto">
          <div class="mb-10 text-center uppercase">
            <h1 class="text-sm">{title}</h1>
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <hr />
          </div>
          <div class="prose lg:prose-xl">
            <slot />
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
