---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import FormattedDate from "@/components/FormattedDate.astro";

const events = (await getCollection("events"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((event) => event.data.status === "published");
---

<Layout title="Events | PPI Aachen">
  <section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
    <h1 class="my-20 text-center text-7xl font-bold">Events</h1>
    <div
      class="overflow-hidden before:absolute before:start-1/2 before:top-0 before:-z-[1] before:size-full before:-translate-x-1/2 before:transform before:bg-[url(/polygon-bg.svg)] before:bg-cover before:bg-top before:bg-no-repeat before:opacity-50"
    >
      <div class="flex flex-row flex-wrap justify-center">
        {
          events.map((event, index) => (
            <div class="w-full md:w-1/2">
              <div class="group relative m-4">
                <a href={`/events/${event.id}/`}>
                  <div class="aspect-h-1 aspect-w-1 overflow-hidden">
                    <Image
                      class="size-full object-cover transition-transform duration-500 ease-in-out group-hover:scale-105 group-focus:scale-105"
                      loading={index < 4 ? "eager" : "lazy"}
                      src={event.data.heroImage}
                      alt=""
                    />
                  </div>
                  <div class="absolute right-3 top-3 bg-black/50 px-3 py-2 text-xs font-bold text-white">
                    <FormattedDate date={event.data.pubDate} />
                  </div>
                  <div class="pointer-events-none absolute inset-x-0 bottom-0 z-10 bg-[linear-gradient(rgba(0,0,0,0),rgba(243,238,227,1)_300px)] p-10 pt-52">
                    <h2 class="mb-3 text-2xl font-light uppercase">
                      {event.data.title}
                    </h2>
                    <div class="event-description max-h-0 overflow-hidden opacity-0 transition-[max-height,opacity] duration-700 ease-in-out group-hover:max-h-[400px] group-hover:opacity-100">
                      <p class="text-base font-light">
                        {event.data.description}
                      </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
